In [27]:
import pandas as pd
import numpy as np

In [28]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [29]:
df = pd.read_csv('/content/gurgaon_properties.csv')

In [30]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2785,3 BHK Flat in Sector 92 Gurgaon,flat,apartment,0.75,4687.0,1600.17,Carpet area: 1600 (148.64 sq.m.),3,4,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",2.0,East,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","Within 2-3 kms schools, malls, hospital are av...","['5 Fan', '7 Light', 'No AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
3322,12 Bedroom House for sale in DLF Phase 2,house,dlf city plots phase 2,10.00,400000.0,250.00,Plot area 250(23.23 sq.m.),12,12,3+,"study room,servant room","Kkmb108, DLF Phase 2, Gurgaon, Haryana",4.0,North,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...",12 bedroom with 1 study room.On every floor fl...,"['24 Fan', '1 Exhaust Fan', '12 Geyser', '1 St...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1716,5 Bedroom House for sale in New Colony,house,rattan garden,1.30,13499.0,963.03,Built Up area: 963 (89.47 sq.m.),5,3,2,not available,"New Colony, Sector 7, New Colony, Gurgaon, Har...",3.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Aryan Hospital', 'D.R....",Best in class property available at new colony...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3467,3 BHK Flat in Sector 102 Gurgaon,flat,emaar gurgaon greens,1.38,13495.0,1022.60,Super Built up area 1650(153.29 sq.m.)Carpet a...,3,3,3,servant room,"Multiple Options Availiable, Sector 102 Gurgao...",6.0,North-East,1 to 5 Year Old,"['JMS Marine Square Mall', 'Dwarka Expressway'...",Luxury 3bhk - Great price - Beautiful green en...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4 out of..."
3499,9 Bedroom House for sale in Palam Vihar Extension,house,independent,1.00,8230.0,1215.07,Plot area 135(112.88 sq.m.),9,7,3+,pooja room,"F121, Gali No 15, Palam Vihar Extension, Gurga...",3.0,North,5 to 10 Year Old,"['Palam triangle', 'HUDA Sector 23 Market', 'P...",Interested to sell independent house/villa.Pla...,"['6 Wardrobe', '4 Fan', '2 Geyser', '1 Chimney...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [31]:
df.duplicated().sum()

np.int64(0)

In [32]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [33]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 103 Gurgaon,flat,indiabulls centrum park,1.34,7882.0,1700.08,Super Built up area 1725(160.26 sq.m.)Carpet a...,3,3,3+,"pooja room,study room,servant room,store room","154562, Sector 103 Gurgaon, Gurgaon, Haryana",12.0,East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'HUDA Market, Sector 1...",This lovely 3 bhk apartment/flat in sector 103...,"['9 Fan', '9 Light', '4 AC', '1 Modular Kitche...","['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of..."
1,3 BHK Flat in Sector 82 Gurgaon,flat,mapsko royale ville,1.15,6424.0,1790.16,Super Built up area 1790(166.3 sq.m.),3,4,2,"servant room,pooja room","101, Sector 82 Gurgaon, Gurgaon, Haryana",15.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Golf Course Ext Rd', ""St...",Looking for a 3 bhk property for sale in gurga...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction3 out ..."
2,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,2.15,10924.0,1968.14,Super Built up area 2812(261.24 sq.m.)Carpet a...,4,5,3+,servant room,"Tower- B1, Sector 85 Gurgaon, Gurgaon, Haryana",6.0,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Check out this 4 bhk apartment for sale in ss ...,"['20 Light', '6 AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,2 BHK Flat in Sector 82 Gurgaon,flat,vatika the seven lamps,0.89,8850.0,1005.65,Super Built up area 1428.08(132.67 sq.m.)Carpe...,2,2,2,study room,"Sector 82 Gurgaon, Gurgaon, Haryana",14.0,East,1 to 5 Year Old,"['SS Omnia Mall', 'Golf Course Ext Rd', 'Knowl...","Brokers excuse, 2bhk+study, 1430 sq. Ft., east...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,1.75,7641.0,2290.28,Super Built up area 2290(212.75 sq.m.)Carpet a...,3,4,3+,"pooja room,study room,servant room,others","Sector 104 Gurgaon, Gurgaon, Haryana",12.0,North-West,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","This 3 bhk flat is located in ats triumph, whi...","['4 Wardrobe', '7 Fan', '19 Light', '1 Chimney...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4 out of 5', 'Construction5 out of..."

In [34]:
import re
df.insert(loc=3, column='sector', value = df['address'].apply(lambda x : re.findall(r'Sector\s?\d+', str(x))))

In [35]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 103 Gurgaon,flat,indiabulls centrum park,[Sector 103],1.34,7882.0,1700.08,Super Built up area 1725(160.26 sq.m.)Carpet a...,3,3,3+,"pooja room,study room,servant room,store room","154562, Sector 103 Gurgaon, Gurgaon, Haryana",12.0,East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'HUDA Market, Sector 1...",This lovely 3 bhk apartment/flat in sector 103...,"['9 Fan', '9 Light', '4 AC', '1 Modular Kitche...","['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of..."
1,3 BHK Flat in Sector 82 Gurgaon,flat,mapsko royale ville,[Sector 82],1.15,6424.0,1790.16,Super Built up area 1790(166.3 sq.m.),3,4,2,"servant room,pooja room","101, Sector 82 Gurgaon, Gurgaon, Haryana",15.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Golf Course Ext Rd', ""St...",Looking for a 3 bhk property for sale in gurga...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction3 out ..."
2,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,[Sector 85],2.15,10924.0,1968.14,Super Built up area 2812(261.24 sq.m.)Carpet a...,4,5,3+,servant room,"Tower- B1, Sector 85 Gurgaon, Gurgaon, Haryana",6.0,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Check out this 4 bhk apartment for sale in ss ...,"['20 Light', '6 AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,2 BHK Flat in Sector 82 Gurgaon,flat,vatika the seven lamps,[Sector 82],0.89,8850.0,1005.65,Super Built up area 1428.08(132.67 sq.m.)Carpe...,2,2,2,study room,"Sector 82 Gurgaon, Gurgaon, Haryana",14.0,East,1 to 5 Year Old,"['SS Omnia Mall', 'Golf Course Ext Rd', 'Knowl...","Brokers excuse, 2bhk+study, 1430 sq. Ft., east...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,[Sector 104],1.75,7641.0,2290.28,Super Built up area 2290(212.75 sq.m.)Carpet a...,3,4,3+,"pooja room,study room,servant room,others","Sector 104 Gurgaon, Gurgaon, Haryana",12.0,North-West,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","This 3 bhk flat is located in ats triumph, whi...","['4 Wardrobe', '7 Fan', '19 Light', '1 Chimney...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4 out of 5', 'Construction5 out of..."

In [36]:
df['sector'].isnull().sum()

np.int64(0)

In [37]:
df['sector'].value_counts()

sector
[]                                      952
[Sector 37]                             109
[Sector 102]                            104
[Sector 70]                             100
[Sector 85]                              97
[Sector 69]                              90
[Sector 90]                              87
[Sector 92]                              84
[Sector 81]                              83
[Sector 109]                             83
[Sector 65]                              82
[Sector 79]                              73
[Sector 104]                             63
[Sector 86]                              63
[Sector 83]                              62
[Sector 67]                              61
[Sector 95]                              57
[Sector 107]                             56
[Sector 48]                              54
[Sector 89]                              53
[Sector 82]                              51
[Sector 108]                             51
[Sector 84]                              48
[Sector 66]                              43
[Sector 99]                              41
[Sector 103]                             40
[Sector 113]                             39
[Sector 56]                              38
[Sector 49]                              37
[Sector 61]                              36
[Sector 106]                             35
[Sector 1]                               30
[Sector 68]                              27
[Sector 72]                              27
[Sector 77]                              25
[Sector 112]                             24
[Sector 71]                              24
[Sector 36]                              24
[Sector 63]                              24
[Sector 88]                              23
[Sector 33]                              23
[Sector 54]                              22
[Sector 9]                               20
[Sector 111]                             20
[Sector 92, Sector 92]                   19
[Sector 56, Sector 56]                   19
[Sector 22]                              18
[Sector 74]                              17
[Sector 91]                              17
[Sector 78]                              16
[Sector 62]                              16
[Sector 110]                             16
[Sector 3]                               15
[Sector 60]                              15
[Sector 85, Sector 85]                   13
[Sector 105]                             13
[Sector 7]                               13
[Sector 46]                              13
[Sector 50]                              13
[Sector 37, Sector 37]                   13
[Sector 53]                              12
[Sector 89, Sector 89]                   11
[Sector 4]                               11
[Sector 82, Sector 82]                   11
[Sector 47]                              11
[Sector 52]                              10
[Sector 76]                              10
[Sector 17]                              10
[Sector 63, Sector 63]                   10
[Sector 12]                              10
[Sector 14]                              10
[Sector 38]                               9
[Sector 31]                               9
[Sector 95, Sector 95]                    9
[Sector 102, Sector 102]                  9
[Sector 5]                                9
[Sector 67, Sector 67]                    9
[Sector 57]                               9
[Sector 3, Sector 3]                      8
[Sector 39]                               8
[Sector 28]                               8
[Sector 65, Sector 65]                    8
[Sector 93]                               8
[Sector 43]                               8
[Sector 40]                               7
[Sector 108, Sector 108]                  7
[Sector 51]                               7
[Sector 23]                               7
[Sector 59]                               7
[Sector 36, Sector 36]                    7
[Sector 26]                               7
[Sector 99, Sector 99]                    7
[Sector 10]                               7
[Sector 70, Sector 70]                    7
[Sector 81, Sector 81]                    7
[Sector 55]                               7
[Sector 11]                               7
[Sector 103, Sector 103]                  6
[Sector 79, Sector 79]                    6
[Sector 83, Sector 83]                    6
[Sector 11, Sector 11]                    5
[Sector 80]                               5
[Sector 14, Sector 14]                    5
[Sector 6]                                5
[Sector 15]                               5
[Sector 109, Sector 109]                  5
[Sector 61, Sector 61]                    5
[Sector 107, Sector 107]                  4
[Sector 93, Sector 93]                    4
[Sector 76, Sector 76]                    4
[Sector 77, Sector 77]                    4
[Sector 2]                                4
[Sector 54, Sector 54]                    4
[Sector 45]                               4
[Sector 39, Sector 39]                    4
[Sector 113, Sector 113]                  4
[Sector 30]                               4
[Sector 86, Sector 86]                    4
[Sector 8]                                4
[Sector 69, Sector 69]                    4
[Sector 31, Sector 31]                    3
[Sector 106, Sector 106]                  3
[Sector 52, Sector 52]                    3
[Sector 110, Sector 110]                  3
[Sector 88, Sector 88]                    3
[Sector 66, Sector 66]                    3
[Sector 71, Sector 71]                    3
[Sector 33, Sector 33]                    3
[Sector 84, Sector 84]                    3
[Sector 21]                               3
[Sector 6, Sector 6]                      3
[Sector 68, Sector 68]                    3
[Sector 13]                               3
[Sector 78, Sector 78]                    3
[Sector 90, Sector 90]                    3
[Sector 55, Sector 55]                    2
[Sector 73]                               2
[Sector 50, Sector 50]                    2
[Sector 104, Sector 104]                  2
[Sector 7, Sector 7]                      2
[Sector 109, Sector 108]                  2
[Sector 38, Sector 38]                    2
[Sector 48, Sector 48]                    2
[Sector 72, Sector 72]                    2
[Sector 9, Sector 9]                      2
[Sector 32, Sector 32]                    2
[Sector 12, Sector 12]                    2
[Sector 22, Sector 22]                    2
[Sector 41, Sector 41]                    2
[Sector 2, Sector 2]                      2
[Sector 15, Sector 15]                    2
[Sector 24, Sector 24]                    2
[Sector 73, Sector 73]                    1
[Sector 5, Sector 5]                      1
[Sector 23, Sector 23]                    1
[Sector 56, Sector 67]                    1
[Sector 40, Sector 40]                    1
[Sector 105, Sector 105, Sector 105]      1
[Sector 17, Sector 17, Sector 17]         1
[Sector 74, Sector 74]                    1
[Sector 27]                               1
[Sector 111, Sector 111]                  1
[Sector 4, Sector 4]                      1
[Sector 59, Sector 59]                    1
[Sector 30, Sector 30]                    1
[Sector 1, Sector 1]                      1
[Sector 105, Sector 105]                  1
[Sector 27, Sector 27]                    1
[Sector 63, Sector 52]                    1
[Sector 56, Sector 61]                    1
[Sector 49, Sector 49]                    1
[Sector 10, Sector 10]                    1
[Sector 28, Sector 27]                    1
[Sector 93, Sector 37]                    1
[Sector 54, Sector 53]                    1
[Sector 38, Sector 38, Sector 38]         1
[Sector 8, Sector 8]                      1
[Sector 42]                               1
[Sector 62, Sector 62]                    1
[Sector 53, Sector 53]                    1
Name: count, dtype: int64

In [38]:
df['sector'] = df['sector'].str.get(0)

In [39]:
df['sector'].isnull().sum()

np.int64(952)

In [40]:
df['sector'] = df['sector'].fillna(value = df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', ''))

In [41]:
df['sector'].isnull().sum()

np.int64(0)

In [42]:
df['sector'].value_counts()

sector
 Sohna                                                        148
Sector 37                                                     122
Sector 102                                                    113
Sector 85                                                     110
Sector 70                                                     107
Sector 92                                                     103
Sector 69                                                      94
Sector 81                                                      90
Sector 109                                                     90
Sector 90                                                      90
Sector 65                                                      90
Sector 79                                                      79
Sector 67                                                      70
Sector 83                                                      68
Sector 86                                                      67
Sector 95                                                      66
Sector 104                                                     65
Sector 89                                                      64
Sector 82                                                      62
Sector 107                                                     60
Sector 56                                                      59
Sector 108                                                     58
Sector 48                                                      56
Sector 84                                                      51
 Nirvana Country                                               50
 Palam Vihar                                                   50
Sector 99                                                      48
 Sector-33 Sohna                                               48
Sector 66                                                      46
Sector 103                                                     46
 DLF Phase 1                                                   43
Sector 113                                                     43
 DLF Phase 2                                                   43
Sector 61                                                      41
Sector 49                                                      38
Sector 106                                                     38
Sector 63                                                      35
 Sushant Lok Phase 1                                           31
Sector 1                                                       31
Sector 36                                                      31
Sector 68                                                      30
Sector 72                                                      29
Sector 77                                                      29
Sector 54                                                      27
Sector 71                                                      27
Sector 88                                                      26
Sector 33                                                      26
 DLF Phase 4                                                   24
Sector 112                                                     24
Sector 3                                                       23
Sector 9                                                       22
 DLF Phase 3                                                   22
 Laxman Vihar                                                  22
Sector 111                                                     21
Sector 22                                                      20
Sector 78                                                      19
Sector 110                                                     19
Sector 74                                                      18
Sector 62                                                      17
Sector 91                                                      17
 Sushant Lok Phase 3                                           16
Sector 60                                                      15
Sector 14                                                      15
Sector 7                                                       15
Sector 105                                                     15
Sector 50                                                      15
 Gwal Pahari                                                   14
 DLF Phase 5                                                   14
Sector 76                                                      14
Sector 52                                                      13
Sector 46                                                      13
Sector 53                                                      13
Sector 93                                                      13
 Laxman Vihar Phase 2                                          13
Sector 31                                                      12
 Uppals Southend                                               12
Sector 39                                                      12
Sector 38                                                      12
Sector 4                                                       12
Sector 12                                                      12
Sector 11                                                      12
Sector 17                                                      11
 Sohna Road                                                    11
 Ashok Vihar Phase 3 Extension                                 11
Sector 47                                                      11
Sector 5                                                       10
Sector 55                                                       9
 Ashok Vihar Phase 2                                            9
Sector 57                                                       9
 South City 1                                                   9
Sector 28                                                       9
 Palam Vihar Extension                                          8
 C Block Sushant Lok Phase 1                                    8
 Malibu Town                                                    8
Sector 6                                                        8
 Mehrauli  Road                                                 8
Sector 43                                                       8
Sector 23                                                       8
Sector 59                                                       8
Sector 40                                                       8
Sector 10                                                       8
 Surat Nagar 1                                                  7
Sector 15                                                       7
Sector 26                                                       7
 sector 58                                                      7
Sector 51                                                       7
 Rajendra Park                                                  7
 Ashok Vihar                                                    6
 New Colony                                                     6
 Dwarka Expressway                                              6
 Mianwali Colony                                                6
Sector 2                                                        6
Sector 30                                                       5
 Sushant Lok Phase 2                                            5
 Chakkarpur                                                     5
 Ansal Plaza                                                    5
 Greenwood City                                                 5
Sector 80                                                       5
 New Palam Vihar                                                5
Sector 8                                                        5
 Manesar                                                        5
 Dayanand Colony                                                5
 Jacobpura                                                      5
 Shivaji Nagar                                                  4
 Subhash Nagar                                                  4
 Bhondsi                                                        4
 Saraswati Vihar                                                4
 Dharam Colony                                                  4
 Garhi Harsaru                                                  4
 Krishna Colony                                                 4
 New                                                            4
 Madanpuri                                                      4
 Rajiv Nagar                                                    4
 Valley View Estate                                             4
 IMT Manesar                                                    4
Sector 45                                                       4
 Surya Vihar                                                    4
 Shivpuri                                                       4
 Suncity                                                        4
Sector 73                                                       3
 Adarsh Nagar                                                   3
 MG Road                                                        3
 Maruti Kunj                                                    3
Sector 21                                                       3
 Arjun Nagar                                                    3
Sector 13                                                       3
 Jyoti Park                                                     3
 B Block Sushant Lok Phase 1                                    3
 Bhim Nagar                                                     3
 Ravi Nagar                                                     3
 Shakti Nagar                                                   3
 Laxmi Garden                                                   3
 A Block Sushant Lok Phase 1                                    3
 Patel Nagar                                                    3
 , Delhi NCR                                                    2
 New Palam Vihar Phase 2                                        2
 Sheetla Colony                                                 2
 Farukhnagar                                                    2
 Rosewood                                                       2
 Surat Nagar Phase 2                                            2
 West Rajiv Nagar                                               2
  Faridabad Road                                                2
 New Basti                                                      2
 New Palam Vihar Phase 1                                        2
 Shankar Vihar                                                  2
 Golf Course Road                                               2
 Baldev Nagar                                                   2
 Sohna  Road                                                    2
 Lajpat Nagar                                                   2
 Rajiv Chowk                                                    2
Sector 32                                                       2
 Surat Nagar                                                    2
 Golf Course Ext Road                                           2
 Acharya Puri                                                   2
 Mayfield Garden                                                2
 Pratap Nagar                                                   2
 Bhawani Enclave                                                2
 Mohan Nagar                                                    2
 Prem Nagar                                                     2
 Block A Surya Vihar                                            2
Sector 27                                                       2
 Samaspur                                                       2
 Sector-2 Sohna                                                 2
 IFFCO Chowk                                                    2
 Daulatabad                                                     2
 Hira Nagar                                                     2
 Bissar                                                         2
Sector 41                                                       2
 Manohar Nagar                                                  2
 Devilal Colony                                                 2
 Ambience Island                                                2
 Shanti Nagar                                                   2
 Sushant Lok                                                    2
 Nars                                                           2
Sector 24                                                       2
 Sector-5 Sohna                                                 1
 Gandhi Nagar                                                   1
 sector-5 sheetla colony                                        1
 Khandsa                                                        1
 Sector 92                                                      1
 BPTP                                                           1
 Sadar Bazar                                                    1
 Nirvana country Pocket H                                       1
 Hno 13 Sagar enclave Sura                                      1
 Mahalaxmi Garden, Rajendra Place                               1
 Civil L                                                        1
 HUDA Saraswati Vihar                                           1
 Jat Colony,Fazilpur/Taj Nagar Road                             1
 Rattan Garden                                                  1
 Sector 54                                                      1
 Sector 79                                                      1
 Ashok Vihar Phase I                                            1
 Near euro                                                      1
 Saraswati Enclave                                              1
 Vishnu Garden                                                  1
 Sultanpur                                                      1
 Pataudi Road                                                   1
 ats marigold                                                   1
 near nand hospital                                             1
 Damdma                                                         1
 Garauli Kalan                                                  1
 Ansal's Palam Vihar                                            1
 Cyber City                                                     1
 Dhankot                                                        1
 Gopal Nagar, Garhi Ghasita, Sonipat                            1
 ravi nager basai road                                          1
 Sector 83                                                      1
 Begampur Khatola                                               1
 Rajiv Colony                                                   1
 Lucknow                                                        1
 Bhora Kalan                                                    1
 Laxman Vihar, Railway Road,                                    1
 Heritage City                                                  1
 near sector 1 market                                           1
 Tekchand Nagar                                                 1
 Jacobpura Near Sadar Bazar                                     1
 URBAN ESTATE, SECTOR 5                                         1
 Block G Sector-57                                              1
 Sector 104                                                     1
 saroop garden rajendra park                                    1
 Sector 111                                                     1
 Near Pataudi Chowk                                             1
 New Jyoti Park                                                 1
 Kanahi                                                         1
 laxmna vihar, phase 2                                          1
 Sec 3 Bhim Vihar Part 1 Bhimgher Kheri                         1
 Alipur                                                         1
 Anand Garden, Sector-105                                       1
 Sector-7 Hous                                                  1
 Kheri                                                          1
 devi lal colony gali no 12 gurgaon nr omkar public school      1
 Udyog Vihar Phase 1                                            1
 Shivji Park Colony                                             1
 Near Khandsa Road                                              1
 Carterpuri Village                                             1
 Ram Nagar                                                      1
 Godrej Aria , sector 79 ,                                      1
 Ashok Vihar Phase 3                                            1
 Sector-35 Sohna                                                1
 Bhimgarh Kheri Phase 3                                         1
 Sai Kunj                                                       1
 Vir Nagar                                                      1
 South City                                                     1
Sector 42                                                       1
 Mahavir pura                                                   1
 Om Nagar                                                       1
 Naharpur Rupa                                                  1
 Block H Ashok Vihar Phase III Extension                        1
 old delhi road, opp sector-14                                  1
 G block DLF City Phase 1                                       1
 V Block DLF Phase 3                                            1
Name: count, dtype: int64

In [48]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [44]:
df.shape

(3961, 21)

In [46]:
a = df['sector'].value_counts()[df['sector'].value_counts()>=3]
df = df[df['sector'].isin(a.index)]

In [47]:
df.shape

(3803, 21)

In [61]:
df['sector'] = df['sector'].str.lower().str.strip()

In [62]:
df['sector'].value_counts()

sector
sohna                            148
sector 37                        122
sector 102                       113
sector 85                        110
sector 70                        107
sector 92                        103
sector 69                         94
sector 65                         90
sector 90                         90
sector 81                         90
sector 109                        90
sector 79                         79
sector 67                         70
sector 83                         68
sector 86                         67
sector 95                         66
sector 104                        65
sector 89                         64
sector 82                         62
sector 107                        60
sector 56                         59
sector 108                        58
sector 48                         56
sector 84                         51
palam vihar                       50
nirvana country                   50
sector 99                         48
sector-33 sohna                   48
sector 66                         46
sector 103                        46
dlf phase 1                       43
dlf phase 2                       43
sector 113                        43
sector 61                         41
sector 49                         38
sector 106                        38
sector 63                         35
sector 36                         31
sector 1                          31
sushant lok phase 1               31
sector 68                         30
sector 72                         29
sector 77                         29
sector 54                         27
sector 71                         27
sector 33                         26
sector 88                         26
sector 112                        24
dlf phase 4                       24
sector 3                          23
sector 9                          22
dlf phase 3                       22
laxman vihar                      22
sector 111                        21
sector 22                         20
sector 110                        19
sector 78                         19
sector 74                         18
sector 62                         17
sector 91                         17
sushant lok phase 3               16
sector 14                         15
sector 60                         15
sector 7                          15
sector 105                        15
sector 50                         15
sector 76                         14
gwal pahari                       14
dlf phase 5                       14
laxman vihar phase 2              13
sector 93                         13
sector 52                         13
sector 46                         13
sector 53                         13
sector 4                          12
sector 12                         12
sector 11                         12
sector 38                         12
uppals southend                   12
sector 31                         12
sector 39                         12
ashok vihar phase 3 extension     11
sector 17                         11
sohna road                        11
sector 47                         11
sector 5                          10
sector 28                          9
sector 57                          9
ashok vihar phase 2                9
sector 55                          9
south city 1                       9
mehrauli  road                     8
sector 43                          8
sector 10                          8
sector 40                          8
sector 23                          8
sector 6                           8
malibu town                        8
palam vihar extension              8
c block sushant lok phase 1        8
sector 59                          8
sector 26                          7
sector 58                          7
sector 51                          7
sector 15                          7
surat nagar 1                      7
rajendra park                      7
mianwali colony                    6
new colony                         6
ashok vihar                        6
dwarka expressway                  6
sector 2                           6
sushant lok phase 2                5
greenwood city                     5
new palam vihar                    5
dayanand colony                    5
jacobpura                          5
sector 8                           5
sector 30                          5
chakkarpur                         5
sector 80                          5
ansal plaza                        5
manesar                            5
subhash nagar                      4
sector 45                          4
shivpuri                           4
dharam colony                      4
rajiv nagar                        4
suncity                            4
saraswati vihar                    4
new                                4
imt manesar                        4
krishna colony                     4
madanpuri                          4
bhondsi                            4
surya vihar                        4
valley view estate                 4
garhi harsaru                      4
shivaji nagar                      4
patel nagar                        3
maruti kunj                        3
b block sushant lok phase 1        3
adarsh nagar                       3
sector 21                          3
mg road                            3
sector 73                          3
bhim nagar                         3
ravi nagar                         3
shakti nagar                       3
laxmi garden                       3
sector 13                          3
arjun nagar                        3
jyoti park                         3
a block sushant lok phase 1        3
Name: count, dtype: int64

In [64]:
df[df['sector']=='new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
276,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.18,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
951,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.07,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2443,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.03,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3337,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.01,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [65]:
df.loc[276, 'sector'] = 'sector 76'
df.loc[951, 'sector'] = 'sector 37'
df.loc[2443,'sector'] = 'sector 90'
df.loc[3337, 'sector'] = 'sector 92'

In [68]:
df[df['sector'] == 'sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
526,1 BHK Flat in Sector 2 Gurgaon,flat,ansal api celebrity suites,sector 2,0.60,8163.0,735.02,Super Built up area 735(68.28 sq.m.),1,1,1,not available,"Sector 2 Gurgaon, Gurgaon, Haryana",5.0,North-East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Looking for a 1 bhk property for sale in gurga...,"['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '1 Ge...","['Power Back-up', 'Intercom Facility', 'Lift(s...",NaN
847,2 BHK Flat in Sohna,flat,eldeco accolade,sector 2,0.95,6178.0,1537.71,Super Built up area 1457(135.36 sq.m.)Built Up...,2,2,3+,"study room,others","Sohna-Gurgaon Road, Sector 2, Near G.D Goenka ...",8.0,South,Under Construction,"['Global City Centre', 'Sohna Road', 'Damdama ...",The property is a 2bhk+2toilet+study room faci...,[],"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Management4 out of 5', 'Green Area5 out of 5..."
1604,1 BHK Flat in Sector 2 Gurgaon,flat,ansal api celebrity suites,sector 2,0.60,8163.0,735.02,Super Built up area 735(68.28 sq.m.),1,1,1,not available,"Sector 2 Gurgaon, Gurgaon, Haryana",5.0,North-East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",1 bhk society apartment flat available for sal...,"['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '1 Ge...","['Power Back-up', 'Feng Shui / Vaastu Complian...",NaN
2538,2 BHK Flat in Sector 2 Gurgaon,flat,mittal cosmos executive apartments,sector 2,0.75,6550.0,1145.04,Super Built up area 1145(106.37 sq.m.)Built Up...,2,2,2,not available,"Sector 2 Gurgaon, Gurgaon, Haryana",15.0,NaN,10+ Year Old,"['Global Foyer Mall', 'Dwarka Expressway', 'Th...",We are the proud owners of this 2 bhk apartmen...,"['2 Wardrobe', '1 Water Purifier', '3 Fan', '1...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Management4.5 out of 5', 'Green Area5 out of..."
3030,3 BHK Flat in Sector 2 Gurgaon,flat,supertech hilltown,sector 2,0.80,5556.0,1439.88,Built Up area: 1440 (133.78 sq.m.)Carpet area:...,3,2,3,not available,"Sohna Sector 2, Sector 2 Gurgaon, Gurgaon, Har...",8.0,NaN,undefined,NaN,Best in class property available at sector 2 s...,NaN,NaN,NaN
3809,2 BHK Flat in Sector 2 Gurgaon,flat,hcbs sports ville,sector 2,0.35,4375.0,800.00,Built Up area: 800 (74.32 sq.m.)Carpet area: 6...,2,2,2,not available,"Sohna Sector 2, Sector 2 Gurgaon, Gurgaon, Har...",8.0,East,1 to 5 Year Old,NaN,Best in class property available at sector 2 s...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...",NaN

In [69]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 103 Gurgaon,flat,indiabulls centrum park,sector 103,1.34,7882.0,1700.08,Super Built up area 1725(160.26 sq.m.)Carpet a...,3,3,3+,"pooja room,study room,servant room,store room","154562, Sector 103 Gurgaon, Gurgaon, Haryana",12.0,East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'HUDA Market, Sector 1...",This lovely 3 bhk apartment/flat in sector 103...,"['9 Fan', '9 Light', '4 AC', '1 Modular Kitche...","['Lift(s)', 'Swimming Pool', 'Park', 'Shopping...","['Green Area5 out of 5', 'Construction4 out of..."
1,3 BHK Flat in Sector 82 Gurgaon,flat,mapsko royale ville,sector 82,1.15,6424.0,1790.16,Super Built up area 1790(166.3 sq.m.),3,4,2,"servant room,pooja room","101, Sector 82 Gurgaon, Gurgaon, Haryana",15.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Golf Course Ext Rd', ""St...",Looking for a 3 bhk property for sale in gurga...,"['3 Wardrobe', '7 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction3 out ..."
2,4 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,sector 85,2.15,10924.0,1968.14,Super Built up area 2812(261.24 sq.m.)Carpet a...,4,5,3+,servant room,"Tower- B1, Sector 85 Gurgaon, Gurgaon, Haryana",6.0,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Check out this 4 bhk apartment for sale in ss ...,"['20 Light', '6 AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,2 BHK Flat in Sector 82 Gurgaon,flat,vatika the seven lamps,sector 82,0.89,8850.0,1005.65,Super Built up area 1428.08(132.67 sq.m.)Carpe...,2,2,2,study room,"Sector 82 Gurgaon, Gurgaon, Haryana",14.0,East,1 to 5 Year Old,"['SS Omnia Mall', 'Golf Course Ext Rd', 'Knowl...","Brokers excuse, 2bhk+study, 1430 sq. Ft., east...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
4,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,sector 104,1.75,7641.0,2290.28,Super Built up area 2290(212.75 sq.m.)Carpet a...,3,4,3+,"pooja room,study room,servant room,others","Sector 104 Gurgaon, Gurgaon, Haryana",12.0,North-West,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","This 3 bhk flat is located in ats triumph, whi...","['4 Wardrobe', '7 Fan', '19 Light', '1 Chimney...","['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area4 out of 5', 'Construction5 out of..."

In [70]:
# features to drop -> property_name, address, description, rating

df.drop(columns = ['property_name', 'address', 'description', 'rating'], inplace = True)

In [71]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
2114,flat,paras dews,sector 106,0.92,6642.0,1385.12,Super Built up area 1385(128.67 sq.m.)Built Up...,2,2,3+,not available,2.0,East,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...","['1 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Centrally Air Conditioned', 'Water purifier'..."
898,flat,sare homes,sector 92,0.58,4098.0,1415.32,Super Built up area 1415(131.46 sq.m.),3,3,3,not available,3.0,North-East,0 to 1 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",NaN,"['Lift(s)', 'Park', 'Maintenance Staff', 'Visi..."
2655,flat,new sathi apartments,suncity,1.59,7066.0,2250.21,Built Up area: 2250 (209.03 sq.m.),3,3,3+,study room,3.0,North,5 to 10 Year Old,"['Sector metro station', 'Sector metro station...","['3 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
2986,flat,tulip violet,sector 69,1.80,8955.0,2010.05,Super Built up area 2010(186.74 sq.m.),4,4,2,pooja room,9.0,South-West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '2 Ge...","['Centrally Air Conditioned', 'Water purifier'..."
2723,house,independent,sector 105,0.60,11102.0,540.44,Plot area 60(50.17 sq.m.),8,4,3,not available,3.0,West,0 to 1 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Bhar...","['9 Fan', '17 Light', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Park']"

In [ ]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [73]:
df.duplicated().sum()

np.int64(122)

In [74]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)